<?xml version="1.0" encoding="UTF-8"?>
<!--



-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Choice</servlet-name>
        <servlet-class>Choice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Choice</servlet-name>
        <url-pattern>/Choice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>addAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delAccount</servlet-name>
        <servlet-class>delAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delAccount</servlet-name>
        <url-pattern>/delAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>transfer</servlet-name>
        <servlet-class>transfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transfer</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accHistory</servlet-name>
        <servlet-class>accHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accHistory</servlet-name>
        <url-pattern>/accHistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>balance</servlet-name>
        <servlet-class>balance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>


</web-app>
